@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    background-color: #F3F5FC;  
    display: flex;
    flex-direction: column; 
}

.principal {
    flex-grow: 1;
    display: flex;
    gap: 5.55%;
    margin: 3.90% 2.77% 3.90% 2.67%;
}

.container__A {
    width: 66.16%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.logo__alura {
    width: 12.62%;
    height: 4.68%;
}

.principal__inserir__texto {
    width: 100%;
    height: 100%;
    padding: 8.40% 0% 0% 21.02%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#texto__entrada {
    flex-grow: 95;
    border: none;
    box-shadow: none;
    outline: none;
    resize: none;
    background-color: transparent;
    width: 100%;
    /* height: 75.33%; */
    height: 85.22%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
}

.container__mensagem__validacao {
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap: 1%;
    height: 1.8%;
    width: 100%;
    margin: 2.12% 0% 2.12% 0;
}

.icone__validacao {
    width: 2.12%;
}

label { 
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #495057;
}

.principal__inserir__texto__bts {
    display: flex;
    width: 100%;
    height: 67px;
    gap: 3.52%;
}

button {
    height: auto;
    border-radius: 24px;
    border: 2px solid #0A3871;
    color: #0A3871;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button:disabled {
    background-color: #D8DFE8;
}

button:hover:enabled {
    background-color: transparent;
    color: #0A3871;
}

.botao__criptografar {
    width: 48.23%;
    background-color: #0A3871;
    color: #FFFFFF;
}


.botao__descriptografar {
    width: 48.23%;
}

.botao__descriptografar:enabled:hover{
    background-color: #0A3871;
    color: #FFFFFF;
}

.principal__apresentar__texto {
    width: 29.41%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 32px;
    justify-content: space-between;
    gap: 5px;
}

.apresentar__resultado {
    flex-grow: 88.9;
    width: 95%;
    /* height: auto; */
    /* height: 88.91%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin: 32px 0px 0px 0px;
}

.apresentar__imagem {
    width: 84%;
    height: 43.36%;
}

.apresentar__mensagem1 {
    height: 8.27%;
    color: #3A3A40;
    font-family: 'Inter', sans-serif;
    font-size: 1.66vw;
    font-weight: 600;
    text-align: center;
    padding: 0% 9.52% 0% 9.52%;
}

.apresentar__mensagem2 {
    height: 6.84%;
    color: #495057;
    font-family: 'Inter', sans-serif;
    font-size: 1.11vw;
    text-align: center;
    padding: 0% 9.52% 0 9.52%;
}

#texto__saida{
    flex-grow: 1;
    border: none;
    box-shadow: none;
    outline: none;
    resize: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #495057;
}

.container__botao__copiar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 67px;
}

.botao__copiar {
    width: 90.56%;
    height: 100%;
}

.botao__copiar:enabled:hover {
    background-color: #0A3871;
    color:#FFFFFF;
}

.rodape {
    background-color: #0A3871;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 16px;
}

@media (max-width: 800px) {

    .principal {
      flex-direction: column;
      margin: 3.90% 2.77% 3.90% 2.67%;
      flex-grow: 1;
      gap: 10px;
    }

    .rodape {
        font-size: 8px;
        padding: 8px;
    }
  
    .container__A {
        width: 100%;
        height: 50%;
        flex-grow: 1;
    }

    .principal__inserir__texto {
        width: 100%;
        padding: 4% 0% 0% 0%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    
    #texto__entrada {
        font-size: 24px;
    }
    
    #texto__saida {
        font-size: 16px;

    }

    .apresentar__resultado {
        gap: 5px;
    }

    .principal__apresentar__texto {
        font-size: 12px;
        width: 100%;
        height: auto;
        flex-grow: 1;
    }

    .principal__inserir__texto__bts {
        height: 40px;
    }

    .container__botao__copiar {
        height: 40px;
    }

    .botao__copiar {
        width: 50%;
    }

    .apresentar__imagem {
        width: 30%;
        height: 43.36%;
    }

    .button {
        font-size: 12px;
    }
  }
